<div class="container">
  <h2>Please create an account</h2>
  <hr>
  <br>
  <div class="container">
    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :first_name, "First Name" %>
        <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :last_name, "Last Name" %>
        <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :current_city, "Current City" %>
        <%= f.text_field :current_city, placeholder: "What is your current city?", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email, "Enter Email" %>
        <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
        <small id="emailHelp" class="form-text text-muted">Your email is safe with us!.</small>
      </div>
      <div class="form-group">
        <%= f.label :password, "Choose a Password" %>
        <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      </div>
      <%= f.submit "Sign up!", class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>
<br>