<div class="container">
  <h2>Edit your post, <%= @post.user.first_name %></h2>
  <hr>
  <br>
  <div class="container">
    <%= form_for @post do |f| %>
      <div class="form-group">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :content, "Content" %>
        <%= f.text_area :content, placeholder: "Content", class: "form-control" %>
      </div>
      <%= f.submit "Update", class: "btn btn-outline-primary" %>
      <%= link_to "Cancel", post_path, class: "btn btn-outline-warning"%>
    <% end %>
  </div>
</div>
<br>