<div class="container">
  <h2> <%= @post.user.first_name %>'s post from <%= @post.city.name %> </h2>
  <hr>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="profile-pic" src="http://websterinteriors.com/wp-content/uploads/2017/01/default_avatar-2.gif">
        <br>
        <br>
        <h4><strong><%= @post.user.first_name %> <%= @post.user.last_name %></strong></h4>
        <p>Member since: <%= @post.user.created_at.month %>/<%= @post.user.created_at.year %> </p>
        <p>Current city: <%= @post.user.current_city %> </p>
        <%= link_to "Back to profile", user_path(@post.user_id), class: "btn btn-outline-info btn-sm"%>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-10">
            <h3> <%= @post.title %> </h3>
            <p> <%= @post.content %> </p>
          </div>
          <div class="col-md-2">
            <%= link_to image_tag("pencil_icon.png", class: "post-icon"), edit_post_path %>
            <%= link_to image_tag("trashcan_icon.png", class: "post-icon"), @post, method: :delete, data: {confirm: "Are you sure you want to delete your post '#{@post.title}'?"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
