<div class="container">
  <h2><%= @city.name %></h2>
  <hr>
  <br>
  <%= image_tag(@city.city_image, class: "city-image-show") %>
  <hr>
  <% if current_user %>
    <%= link_to "Add New Post", new_post_path(@city.id), class: "btn btn-outline-success btn-lg" %>
  <% end %>
  <br>
  <br>
  <div>
    <% @city.posts.reverse_each do |cp| %>
      <h3><%= link_to cp.title, cp, class: "post-title" %></h3>
        <p><%= cp.content %>
        <br>
        <%= link_to "more...", cp %>
        </p>
    <% end %>
    <%= link_to "Back to Cities", cities_path, class: "btn btn-outline-info btn-sm"%>
  </div>
</div>
<br>