<div class="container">
  <h2><%= @city.name %></h2>
  <hr>
  <br>
  <%= image_tag(@city.city_image, class: "city-image-show") %>
  <hr>
  <%= link_to "Add New Post", new_post_path(@city.id), class: "btn btn-outline-success btn-sm" %>
  <br>
  <!-- new_user_post_path(session[:user_id]) -->
  <br>
  <div>
    <% @city.posts.each do |cp| %>
      <h3><%= cp.title %></h3>
        <p><%= cp.content %>
        <br>
        <%= link_to "more...", cp %>
        </p>
    <% end %>
    <%= link_to "Back to Cities", cities_path, class: "btn btn-outline-info btn-sm"%>
  </div>
</div>
<br>