<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Vagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>

    <div class="container-fluid header-hero">
      <div class="row">
        <div class="col-md-6">
          <h1 class="display-4"><%= link_to "Vagabond", root_path, id: "title" %></h1>
        </div>


        <div class="col-md-6 login-signup">
          <% if current_user %>
            <%= link_to "Profile", user_path(current_user), class: "btn btn-primary" %>
            <%= link_to "Log Out", logout_path, class: "btn btn-info"%>
          <% else %>
            <%= link_to "Login", login_path, class: "btn btn-primary"%>
            <%= link_to "Sign up", new_user_path, class: "btn btn-info"%>
          <% end %>
        </div>

      </div>
        <div class="row">
          <div class="col-md-4">
            <!-- client specified content below: "For perfect family trips" -->
            <p class="lead-text">For perfect family trips</p>
          </div>
        </div>
    </div>


    <!-- handle flash notice/error -->
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
           flash.each do |name, msg| 
            <div> name : </div>
            <div> msg </div>
          end 
        </div>
      </div>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %>">
                  <%= value %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
