<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <!-- Jumbotron/header -->
    <!-- <div class="jumbotron">
      <h1 class="display-4">Vagabond</h1>
      <p class="lead">It's a big, beautiful world out there. See what others think of your favorite cites.</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-md" href="#" role="button">Login</a>
        <a class="btn btn-info btn-md" href="#" role="button">Sign up</a>
      </p>
    </div> -->
    <div class="container-fluid header-hero">
      <div class="row">
        <div class="col-md-6">
          <h1 class="display-4"><%= link_to "Vagabond", root_path %></h1>
          <hr>
        </div>
        <div class="col-md-6 login-signup">
          <%= link_to "Login", new_user_path, class: "btn btn-primary"%>
          <%= link_to "Sign up", new_user_path, class: "btn btn-info"%>

        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="lead-text">It's a big, beautiful world out there. See what others think of your favorite cities.</p>
        </div>
      </div>
    </div>

    <!-- Possible Nav -->
    <!-- <div class="container-fluid">
      
    </div> -->
    
    <%= yield %>
  </body>
</html>
